body {
  background-color: rgb(229, 205, 161);
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: rgb(199, 216, 147);
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the familia link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.familia {
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .family-pic {
    width: 37vw;
    float: right;
    border: 8px solid rgb(199, 216, 147);
    margin: 1%;
  }

  .subheader {
    width: 55%;
    float: left;
    line-height: 35px;
  }

  .temporada {
    font-size: 8vw;
    text-align: center;
    line-height: 8vw;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .versiculo {
    text-align: center;
    font-size: 2vw;
    line-height: 2vw;
    font-style: italic;
    margin-bottom: 1%;
  }

  .div-left{
    margin-top: 0px;
    padding: 1%;
    width: 55%;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 5%;
  }

  .div-right{
    padding: 1%;
    width: 50%;
    float: right;
    text-align: justify;
  }

  .introducao {
    font-size: 2vw;
  }

  .subtitulo {
    font-size: 2.5vw;
    background-color: rgb(199, 216, 147);
  }

  #paragrafo {
    font-size: 1.5vw;
  }

  .divisaPE {
    width: 43%;
    float: left;
    border: 8px solid rgb(199, 216, 147);
    margin: 1%;
  }
  
  .familiaElevador {
    width: 30vw;
    float: right;
    border: 8px solid rgb(199, 216, 147);
    margin: 1%;
  }

  .div-left-AbLe{
    margin-top: 0px;
    padding: 3%;
    width: 57%;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 10px;
  }
 
  .div-gratidao{
    margin-top: 0px;
    padding-left: 3%;
    display: block;
    float: left;
    width: 97%;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 15px;
  }
 
  .div-oracao{
    margin-top: 0px;
    padding-left: 3%;
    width: 97%;
    float: left;
    margin-bottom: 15px;  
  }

  .footer {
    border: 5px black solid;
    padding: 10px 15px;
    float: left;
    width: 90%%;
    background-color: rgb(199, 216, 147);
    color: black;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5vw;
    margin-bottom: 15px;
  }